.slider {
  margin-left: 2rem;
}

.MuiSlider-thumb {
  width: 0.625rem !important;
  height: 1rem !important;
  border-radius: 30% !important;
  margin-top: -0.4rem !important;
  background-color: #050505 !important;
}

.MuiSlider-root {
  color: #696969 !important;
}

.MuiSlider-trackInverted .MuiSlider-track {
  background-color: #e1e1e1 !important;
}