#root {
  margin: 0 auto;
  width: 85%;
}

header {
  margin-top: 5rem;
  display: flex;
}

fieldset {
  border: none !important;
}
/*search start*/

.MuiIconButton-label,
.MuiInputLabel-outlined,
.MuiInputLabel-shrink {
  display: none !important;
}

.MuiOutlinedInput-root {
  border-radius: unset !important;
  border: solid 0.125rem #acacac !important;
  height: 4rem !important;
}

.PrivateNotchedOutline-root-105 {
  border: none !important;
}

.PrivateValueLabel-circle-160 {
  background-color: transparent !important;
}

.PrivateValueLabel-thumb-157.PrivateValueLabel-open-158
  .PrivateValueLabel-offset-159 {
  transform: scale(1) translateY(50px) !important;
}

.PrivateValueLabel-label-161 {
  color: #000 !important;
}

/*search end*/

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
